* {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}
body {
	margin: 0;
}

header {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.notes {
	margin: 10px;
	height: 200px;

	&__form {
		margin-bottom: 20px;
	}
	&__form input {
		margin-bottom: 10px;
	}

	&__form input,
	&__form--text textarea {
		width: 100%;
		background-color: #dddddd;
		border: none;
		padding: 10px;
		resize: none;
		border-radius: 20px;
		box-sizing: border-box;
		outline: none;
	}
	&__form--text {
		border-radius: 20px;
		height: 140px;
		background-color: #dddddd;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;

		textarea {
			font-size: 16px;
			height: 100px;
		}
		div {
			border-top: 1px solid #707070;
			width: 100%;
			padding: 10px;
			height: 20px;
		}
	}
	&__form--buttons {
		display: flex;
		height: 40px;
		justify-content: space-between;

		select,
		button {
			cursor: pointer;
			padding: 10px;
			width: 48%;
			border-radius: 20px;
			outline: none;
			border: none;
		}
		select {
			border: 1px solid #707070;
         padding: 0px 30px;
		}
		button {
			background-color: #707070;
		}
	}
}

.note {
	margin-bottom: 10px;
	border-radius: 20px;

	&__header,
	&__footer {
		height: 40px;
		padding: 10px;
		display: flex;
		justify-content: space-between;
	}
	&__text {
		word-wrap: break-word;
		height: 175px;
		padding: 10px;
		box-sizing: border-box;
	}
	&__title {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	&__title,
	&__title--edit,
	&__date {
		align-self: center;
	}
	&__title,
	&__title--edit {
		font-weight: 800;
	}
	&__editIcon,
	&__deleteIcon {
		width: 40px;
		outline: none;
		cursor: pointer;
		border: none;
		font-size: 20px;
	}
	&__title--edit {
		width: 100%;
	}
	&__title--edit > input,
	&__text--edit > textarea {
		word-wrap: break-word;
		padding: 0;
		font-size: 16px;
		box-sizing: border-box;
		border-radius: 20px;
		margin: 0;
		outline: none;
		width: 100%;
		resize: none;
		padding: 10px;
		border: 1px solid #707070;
	}
	&__text--edit {
		height: 175px;
		box-sizing: border-box;
		padding: 10px;
	}
	&__text--edit > textarea {
		height: 155px;
	}
}

@media (min-width: 800px) {
	header {
		margin-bottom: 50px;
	}

	.notes {
		width: 80vw;
		margin: 50px auto 0 auto;

		&__form {
			margin-left: auto;
			margin-right: auto;
			width: 600px;
		}
		&__display {
			display: grid;
			gap: 10px;
			grid-template-columns: repeat(2, 50%);
		}
	}
}

@media (min-width: 1200px) {
	.notes {
		&__display {
			grid-template-columns: repeat(3, 33.3%);
		}
	}
}
@media (min-width: 1600px) {
	.notes {
		&__display {
			grid-template-columns: repeat(4, 25%);
		}
	}
}
