body {
	margin: 0;
	font-size: 15px;
}

header {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.notes {
	margin: 10px;
	&__form {
		margin-bottom: 20px;
	}
	&__form input {
		margin-bottom: 10px;
	}

	&__form input,
	&__form--text textarea {
		width: 100%;
		background-color: #dddddd;
		border: none;
		padding: 10px;
		resize: none;
		border-radius: 20px;
		box-sizing: border-box;
		outline: none;
	}
	&__form--text {
		border-radius: 20px;
		height: 140px;
		background-color: #dddddd;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;

		textarea {
			height: 100px;
		}
		div {
			width: 100%;
			padding: 10px;
			height: 20px;
		}
	}
	&__form--buttons {
		display: flex;
		height: 40px;
		justify-content: space-between;

		select,
		button {
			cursor: pointer;
			padding: 10px;
			width: 48%;
			border-radius: 20px;
			outline: none;
			border: none;
		}
		select {
			border: 1px solid #707070;
		}
		button {
			background-color: #707070;
		}
	}
}

.note {
	margin-bottom: 10px;
	border-radius: 20px;

	&__header,
	&__footer {
		height: 40px;
		padding: 10px;
		display: flex;
		justify-content: space-between;
	}
	&__text {
		word-wrap: break-word;
		max-height: 175px;
		padding: 10px;
		box-sizing: border-box;
	}
	&__title,
	&__title--edit,
	&__date {
		align-self: center;
	}
	&__title,
	&__title--edit {
		font-weight: bold;
	}
	&__editIcon,
	&__deleteIcon {
		width: 40px;
		outline: none;
		cursor: pointer;
		border: none;
		font-size: 20px;
	}
	&__title--edit {
	}
	&__title--edit > input {
	}
	&__text,
	&__text--edit {
	}
	&__text--edit {
      padding: 10px;
	}
	&__text--edit > textarea {
      padding: 0;
      box-sizing: border-box;
      margin: 0;
      width: 100%;
      height: 100px;
      resize: none;
	}
}

@media (min-width: 800px) {
	header {

		margin-bottom: 50px;
	}


	.notes {
		width: 80vw;
		margin: 50px auto 0 auto;


      &__form{
         margin-left: auto;
         margin-right: auto;
         width: 600px;
      }
		&__display {
		}
	}
}
