* {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notes {
  margin: 10px;
  height: 200px;
}

.notes__form {
  margin-bottom: 20px;
}

.notes__form input {
  margin-bottom: 10px;
}

.notes__form input,
.notes__form--text textarea {
  width: 100%;
  background-color: #dddddd;
  border: none;
  padding: 10px;
  resize: none;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.notes__form--text {
  border-radius: 20px;
  height: 140px;
  background-color: #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.notes__form--text textarea {
  font-size: 16px;
  height: 100px;
}

.notes__form--text div {
  border-top: 1px solid #707070;
  width: 100%;
  padding: 10px;
  height: 20px;
}

.notes__form--buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notes__form--buttons select,
.notes__form--buttons button {
  cursor: pointer;
  padding: 10px;
  width: 48%;
  border-radius: 20px;
  outline: none;
  border: none;
}

.notes__form--buttons select {
  border: 1px solid #707070;
  padding: 0px 30px;
}

.notes__form--buttons button {
  background-color: #707070;
}

.note {
  margin-bottom: 10px;
  border-radius: 20px;
}

.note__header, .note__footer {
  height: 40px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.note__text {
  word-wrap: break-word;
  height: 175px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.note__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.note__title, .note__title--edit, .note__date {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.note__title, .note__title--edit {
  font-weight: 800;
}

.note__editIcon, .note__deleteIcon {
  width: 40px;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 20px;
}

.note__title--edit {
  width: 100%;
}

.note__title--edit > input,
.note__text--edit > textarea {
  word-wrap: break-word;
  padding: 0;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  margin: 0;
  outline: none;
  width: 100%;
  resize: none;
  padding: 10px;
  border: 1px solid #707070;
}

.note__text--edit {
  height: 175px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.note__text--edit > textarea {
  height: 155px;
}

@media (min-width: 800px) {
  header {
    margin-bottom: 50px;
  }
  .notes {
    width: 80vw;
    margin: 50px auto 0 auto;
  }
  .notes__form {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  .notes__display {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 1200px) {
  .notes__display {
    -ms-grid-columns: (33.3%)[3];
        grid-template-columns: repeat(3, 33.3%);
  }
}

@media (min-width: 1600px) {
  .notes__display {
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
  }
}
/*# sourceMappingURL=style.css.map */